<div *ngIf="spinner">
    <div class="spinner-border text-primary"></div>
</div>
<div *ngIf="!spinner && !success">
    <section class="footer-form padding-top-xl padding-bottom-xl" aria-label="Contact Form">
        <div class="wrapper">
           <div class="container">
              <div class="row">
                 <div class="col-xs-12 section5 text-center">
                    <h2 class="h1 font-w400">Sign Up</h2>
                    <br>
                    <hr>
                 </div>
              </div>
              <div class="row">
                 <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form name="contentForm" enctype="multipart/form-data" method="" action="" role="form" data-toggle="validator" novalidate="true">
                    <div class="form schedule-assessment">
                       <div class="row margin-top-l">
                          <div class="form-group col-md-6">
                             <label for="first_name" class="sr-only">First Name: </label>
                             <input name="first_name" id="first_name" placeholder="First Name" type="text" value="" required="required" data-error="Please enter your first name.">
                             <div class="help-block with-errors"></div>
                          </div><!-- close col-->  
                          <div class="form-group col-md-6">
                            <label for="last_name" class="sr-only">Last Name: </label>
                            <input name="last_name" id="last_name" placeholder="Last Name" type="text" value="" required="required" data-error="Please enter your last name.">
                            <div class="help-block with-errors"></div>
                         </div><!-- close col-->
                       </div><!-- close row-->
                       <div class="row margin-top-l">
                        <div class="form-group col-md-6">
                            <label for="contact_number" class="sr-only">Contact Number: </label>
                            <input name="contact_number" id="contact_number" placeholder="Contact number" type="text" value="" required="required" data-error="Please enter your phone number">
                            <div class="help-block with-errors"></div>
                         </div><!-- close col-->
                        <div class="form-group col-md-6">
                            <label for="email" class="sr-only">Email Address: </label>
                            <input name="email" id="email" placeholder="Email Address" type="email" value="" required="required" data-error="Please enter a valid email.">
                            <div class="help-block with-errors"></div>
                         </div><!-- close col-->  
                     </div><!-- close row-->
                       <div class="row">
                          <div class="form-group col-md-12">
                             <div class="">
                                <label>Gender</label>
                                <div class="radio">
                                   <label>
                                   <input type="radio" name="gender" value="male" required>
                                   Male
                                   </label>
                                </div>
                                <div class="radio">
                                   <label>
                                   <input type="radio" name="gender" value="Female" required>
                                   Female
                                   </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="gender" value="Rather not say" required>
                                    Rather not say
                                    </label>
                                 </div>
                             </div>
                          </div>
                       </div><!-- close row-->
                       <div class="row">
                        <div class="form-group col-md-12">
                           <div class="">
                              <label>Consent</label>
                              <div class="radio">
                                 <label>
                                 <input type="checkbox" name="checkbox" value="yes" required>
                                 Yes
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div><!-- close row-->
                       <div class="form-group text-center">
                          <input class="submit center-block btn btn-primary" value="Submit" type="submit">
                       </div>
                    </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
    </section>
</div>